


  .form-container {
    max-width: 1800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  h2 {
    text-align: center;
  }

  form {
    margin-top: 20px;
  }

  .inner-field-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

 
  .inner-field-row button[type="button"] {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 0.6%;
  }

  .inner-field-row button[type="button"]:hover {
    background-color: #45a049;
  }

  button[type="button"],
  button[type="submit"] {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button[type="button"]:hover,
  button[type="submit"]:hover {
    background-color: #45a049;
  }

  button[type="submit"] {
    display: block; /* Display the button on a new line */
    width: 50%; /* Make the button occupy the full container width */
    margin-top: 10px; /* Add some margin at the top for spacing */
    padding: 10px 20px; /* Increase the padding to make the button bigger */
    font-size: 18px; /* Increase the font size for bigger text */
    background-color: #007bff; /* Set the background color to blue (you can change this to your preferred color) */
    color: #fff; /* Set the text color to white */
    border: none; /* Remove the border */
    border-radius: 5px; /* Add some border radius for rounded corners */
    cursor: pointer;
    
  }
  
  /* Style the button on hover to give a visual feedback */
  button[type="submit"]:hover {
    background-color: #0056b3; /* Change the background color on hover */
  }

  .submit-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add some margin at the top for spacing */
}

.index{
  font-size: 20px;
  font-weight:400;
  display: flex;
  margin-bottom: 0%;
}
.card {
  background-color: #f0f0f0; /* Grey background color for the card */
  margin-left: -10px;
  margin-bottom: -10px;
  margin-right: 20px;
  display: flex;
  font-size: medium;
  font-weight: 200;
}

/* Custom styles for the card content */
