<html>
  <head>
    <title>Item Form</title>
  </head>
  <body>
    <div class="form-container">
      <h2>Item Form</h2>
      <form [formGroup]="addItemsForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Item Name</mat-label>
          <input matInput formControlName="item_name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Item Specification</mat-label>
          <input matInput formControlName="item_specification" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Make</mat-label>
          <input matInput formControlName="item_make" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Unit</mat-label>
          <input matInput formControlName="item_unit" />
        </mat-form-field>
        <button type="submit" [disabled]="addItemsForm.invalid">Submit</button>
      </form>
    </div>
  </body>
</html>
