<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
</head>
<body>
  <div class="dashboard-container">
    <h1>Admin Dashboard</h1>
    <div class="button-group">
      <button class="dashboard-button">Add New Item</button>
      <button class="dashboard-button">Edit Item</button>
      <button class="dashboard-button">Delete Item</button>
      <button class="dashboard-button">Add New Site</button>
      <button class="dashboard-button">Edit Site</button>
      <button class="dashboard-button">Delete Site</button>
      <button class="dashboard-button">Add New User's Credentials</button>
      <!-- <button class="dashboard-button">Suppliers</button> -->
      <!-- <button class="dashboard-button">Inquiry</button> -->
    </div>
  </div>
</body>
</html>

